*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
h1{
    margin-left: 15px;
}
.container{
    border: 2px solid black;
    height: 400px;
    width: 350px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(182, 182, 220);
}
.inp{
    font-size: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.slct{
    font-size: 20px;
    
    margin-top: 20px;
}
#slct{
    font-size: 20px;
    margin: 10px;
    margin-left: 80px;
}
.btn{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 190px;
    border: none;
    font-weight: 600;
    color: rgb(143, 143, 214);
    background-color: white;
    
}
.btn2{
    text-decoration: none;
}